html,
body {
  height: 100%;
}

.container-fluid {
  height: 100%;
  text-align: center;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.error {
  color: red;
}

.success {
  color: green;
}
